body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}
div p {
  margin-top: 10px
}
a {
  padding-right: 40px;
}
img {
  width: 190px;
  height: 190px;
}
header {
  text-align: center;
  background-color: #24292E;
  color: #ffffff;
}
.profile-links {
  text-align: center;
}
.github-picture {
  border-radius: 100px;
  display: block;
  margin: auto;
}
.location {
  flex: 1;
  text-align: center;
}
.hireable-status {
  text-align: center;
}
.picture-bio {
  text-align: center;
}
.search-user-name {
  padding-top: 10px;
  text-align: center;
}
.btn-search-name{
  margin-top: 10px;
}
.loading {
 text-align: center;
}
.github-username {
  padding: 0;
  text-align: center;
  background: #cccccc;
}
.location-hireable {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 638px;
}
.hireable-status {
  flex: 1;
}
