body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

header {
  text-align: center;
  background: #cccccc;
}

a {
  padding: 30px;
}
img {
  max-width: 190px;
  max-height: 190px;
}
.profile-links {
  text-align: center;
}
.github-picture {
  display: block;
  margin: auto;
}

.location {
  text-align: center;
}
.hireable-status {
  text-align: center;
}
.picture-bio {
  text-align: center;
}
div p {
  margin: 0
}

.search-user-name {
  padding-top: 10px;
  text-align: center;
}
.btn-search-name{
  margin-top: 10px;
}
.loading {
 text-align: center;
}
